h1 {
  color: rgb(20, 17, 17);
}

/* this is a custom style */
.jsClass {
  font-weight: bold;
  font-size: 30px;
  color: rgb(230, 230, 230);
  background-color: black;
  text-align: center;
  padding: 10px;
}
